<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" data-ng-app="app"><![endif]-->
<![if IE 9 ]><html data-ng-app="app" xmlns:th="http://www.w3.org/1999/xhtml"><![endif]>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>

    <!-- Vendor CSS -->
    <link href="vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="vendors/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet">
    <link href="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="css/app.min.1.css" rel="stylesheet" id="app-level">
    <link href="css/app.min.2.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">

</head>

<body>
    <header id="header-2" data-current-skin="blue" data-ng-controller="headerController">
        <ul class="header-inner clearfix">
            <li id="menu-trigger" data-trigger=".ha-menu" class="visible-xs">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a data-ui-sref="home">Template</a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    <li class="dropdown" uib-dropdown>
                        <a uib-dropdown-toggle href=""><i class="tm-icon zmdi zmdi-account"></i></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li class="hidden-xs">
                                <a ng-click="logout()">
                                    <i class="zmdi zmdi-power"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <nav class="ha-menu">
            <ul>
                <li class="waves-effect" data-ui-sref-active="active">
                    <a data-ui-sref="home">Home</a>
                </li>
                <!--<li class="dropdown" uib-dropdown data-ng-class="{ 'active': state.is('example') || state.is('example2') }">
                    <div class="waves-effect" uib-dropdown-toggle>Przykłady</div>

                    <ul class="dropdown-menu">
                        <li data-ui-sref-active="active" ><a data-ui-sref="example">Przykład 1</a></li>
                        <li data-ui-sref-active="active" ><a data-ui-sref="example2">Przykład 2</a></li>
                    </ul>
                </li>-->
            </ul>
        </nav>
    </header>
    <section id="main">
        <section id="content" class="page-view">
            <div class="container">
                <data ui-view></data>
            </div>
        </section>
    </section>

<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1 class="c-white">Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="img/browsers/chrome.png" alt="">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="img/browsers/firefox.png" alt="">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="img/browsers/opera.png" alt="">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="img/browsers/safari.png" alt="">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="img/browsers/ie.png" alt="">
                    <div>IE (New)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->


<!-- Core -->
<script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Angular -->
<script src="vendors/bower_components/angular/angular.min.js"></script>
<script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="vendors/bower_components/angular-resource/angular-resource.min.js"></script>

<!-- Angular Modules -->
<script src="vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="vendors/bower_components/angular-loading-bar/src/loading-bar.js"></script>
<script src="vendors/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="vendors/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Common Vendors -->
<script src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
<script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="vendors/bower_components/ng-table/dist/ng-table.min.js"></script>


<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->

<!-- Using below vendors in order to avoid misloading on resolve -->
<script src="vendors/bower_components/flot/jquery.flot.js"></script>
<script src="vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
<script src="vendors/bower_components/flot/jquery.flot.resize.js"></script>
<script src="vendors/bower_components/moment/min/moment.min.js"></script>
<script src="vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js"></script>
<script src="vendors/bower_components/flot/jquery.flot.pie.js"></script>
<script src="vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="vendors/bower_components/angular-nouislider/src/nouislider.min.js"></script>


<!-- App level -->
<script src="app/app.js"></script>
<script src="app/components/home/homeModule.js"></script>
<script src="app/components/home/homeController.js"></script>
<script src="app/shared/header/headerModule.js"></script>
<script src="app/shared/header/headerController.js"></script>

<!-- Template Modules -->
<script src="app/shared/materialAdmin/materialAdminModule.js"></script>
<script src="app/shared/materialAdmin/modules/template.js"></script>
<script src="app/shared/materialAdmin/modules/ui.js"></script>
<script src="app/shared/materialAdmin/modules/charts/flot.js"></script>
<script src="app/shared/materialAdmin/modules/charts/other-charts.js"></script>
<script src="app/shared/materialAdmin/modules/form.js"></script>
<script src="app/shared/materialAdmin/modules/media.js"></script>
<script src="app/shared/materialAdmin/modules/components.js"></script>
<script src="app/shared/materialAdmin/modules/calendar.js"></script>
<script src="app/shared/materialAdmin/modules/demo.js"></script>
<script src="app/shared/materialAdmin/services.js"></script>

</body>
</html>

